# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Data & Results
data/
results/
wrong_way_snaps/
*.mp4
*.jpg
*.png

# Environment
.env
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db